# PYTHON Y SQLite en Jupyter Notebook

En este ejemplo interactivo, se va a utilizar Python con Jupiter Notebook, para realizar conexion y operaciones con una base de datos SQLite, utilizando la Base de datos de ejemplo sakila.bd el cual se encuentra libre para descargar del siguiente link: https://github.com/bradleygrant/sakila-sqlite3.git

<img src="sakila.png">

# 1. Alistamos el entorno de configuracion

Importamos las librerias de **sqlite3** para manejar la BD SQLite, **Pandas** para usar su data frame, **pprint** prety print para imprimir las listas de forma adecuada, **os** para poder ejecutar comandos del sistema

In [15]:
import sqlite3
import pandas as pd
from pprint import pprint
import os

## 2. Cargamos la base de datos

El archivo de base de datos debe estar junto con el Notebook, a partir de esta ruta se conecta con la base de datos, se debe recordar que SQLite es una base de datos local que se almacena en un archivo

In [16]:
#sea cuidadoso como escribe el path y el nombre que apunta a la BD
path=os.getcwd() #como extraer el working directory para apuntar a la BD
path=path+'\\sakila_master.db' #completamos con el nombre de la bd
sqliteConnection=sqlite3.connect(path)
cursor=sqliteConnection.cursor()

## 3. Realizamos Query con sqlite3

Realizada la conexion, en la tabla de sistema sqlite_master, listamos las tablas existentes en la BD y mostramos el contenido.

In [78]:
cursor.execute("SELECT count(*) FROM sqlite_master") #verificamos que existen 91 elementos
pprint(cursor.fetchall())

[(92,)]

In [79]:
#resultado=cursor.execute("SELECT name FROM sqlite_master;") #se enlistan los 91 elementos
#pprint(resultado.fetchall())

In [80]:
#se agrupa por tipo los elementos en la base de datos y se cuentan, agrupados por tipo

query="SELECT type,count(type) as cantidad FROM sqlite_master GROUP BY type"
salida=cursor.execute(query)
pprint(salida.fetchall())
#se tiene 40 index, 18 table, 30 trigger, 5 view

[('index', 40), ('table', 17), ('trigger', 30), ('view', 5)]

In [81]:
resultado=cursor.execute("SELECT name FROM sqlite_master WHERE type='table';") #se enlistan las tablas 17
pprint(resultado.fetchall())

[('actor',),
 ('country',),
 ('city',),
 ('address',),
 ('language',),
 ('category',),
 ('customer',),
 ('film',),
 ('film_actor',),
 ('film_category',),
 ('film_text',),
 ('inventory',),
 ('staff',),
 ('store',),
 ('payment',),
 ('rental',),
 ('sqlite_sequence',)]

## 3.1. Se realiza codigo para identificacion de tablas

In [83]:
#requiero describir la estructura de las tablas indicada.
tabla='city' #escriba el nombre de una tabla

query="PRAGMA table_info("+tabla+");" #se solicita informacion de la estructura de la tabla
salida=cursor.execute(query)
print("La estructura de la tabla: ",tabla)
print("----------------------------------------------")
pprint(salida.fetchall())

query="SELECT count(*) from "+tabla #se solicita informacion de la cantidad de elementos de la tabla
salida=cursor.execute(query)
print("----------------------------------------------")
print("La cantidad de datos en la tabla es: ",salida.fetchall())

La estructura de la tabla:  city
----------------------------------------------
[(0, 'city_id', 'INT', 1, None, 1),
 (1, 'city', 'VARCHAR(50)', 1, None, 0),
 (2, 'country_id', 'SMALLINT', 1, None, 0),
 (3, 'last_update', 'TIMESTAMP', 1, None, 0)]
----------------------------------------------
La cantidad de datos en la tabla es:  [(600,)]

In [84]:
#considerando la tabla anterior, se seleccionan los primeros 10 elementos de dicha tabla
query="SELECT * FROM "+tabla+ " LIMIT 500"
salida=cursor.execute(query)
pprint(salida.fetchall())

[(1, 'A Corua (La Corua)', 87, '2020-12-23 07:12:14'),
 (2, 'Abha', 82, '2020-12-23 07:12:14'),
 (3, 'Abu Dhabi', 101, '2020-12-23 07:12:14'),
 (4, 'Acua', 60, '2020-12-23 07:12:14'),
 (5, 'Adana', 97, '2020-12-23 07:12:14'),
 (6, 'Addis Abeba', 31, '2020-12-23 07:12:14'),
 (7, 'Aden', 107, '2020-12-23 07:12:14'),
 (8, 'Adoni', 44, '2020-12-23 07:12:14'),
 (9, 'Ahmadnagar', 44, '2020-12-23 07:12:14'),
 (10, 'Akishima', 50, '2020-12-23 07:12:14'),
 (11, 'Akron', 103, '2020-12-23 07:12:14'),
 (12, 'al-Ayn', 101, '2020-12-23 07:12:14'),
 (13, 'al-Hawiya', 82, '2020-12-23 07:12:14'),
 (14, 'al-Manama', 11, '2020-12-23 07:12:14'),
 (15, 'al-Qadarif', 89, '2020-12-23 07:12:14'),
 (16, 'al-Qatif', 82, '2020-12-23 07:12:14'),
 (17, 'Alessandria', 49, '2020-12-23 07:12:14'),
 (18, 'Allappuzha (Alleppey)', 44, '2020-12-23 07:12:14'),
 (19, 'Allende', 60, '2020-12-23 07:12:14'),
 (20, 'Almirante Brown', 6, '2020-12-23 07:12:14'),
 (21, 'Alvorada', 15, '2020-12-23 07:12:14'),
 (22, 'Ambattur', 44, '2020-12-23 07:12:14'),
 (23, 'Amersfoort', 67, '2020-12-23 07:12:14'),
 (24, 'Amroha', 44, '2020-12-23 07:12:14'),
 (25, 'Angra dos Reis', 15, '2020-12-23 07:12:14'),
 (26, 'Anpolis', 15, '2020-12-23 07:12:14'),
 (27, 'Antofagasta', 22, '2020-12-23 07:12:14'),
 (28, 'Aparecida de Goinia', 15, '2020-12-23 07:12:14'),
 (29, 'Apeldoorn', 67, '2020-12-23 07:12:14'),
 (30, 'Araatuba', 15, '2020-12-23 07:12:14'),
 (31, 'Arak', 46, '2020-12-23 07:12:14'),
 (32, 'Arecibo', 77, '2020-12-23 07:12:14'),
 (33, 'Arlington', 103, '2020-12-23 07:12:14'),
 (34, 'Ashdod', 48, '2020-12-23 07:12:14'),
 (35, 'Ashgabat', 98, '2020-12-23 07:12:14'),
 (36, 'Ashqelon', 48, '2020-12-23 07:12:14'),
 (37, 'Asuncin', 73, '2020-12-23 07:12:14'),
 (38, 'Athenai', 39, '2020-12-23 07:12:14'),
 (39, 'Atinsk', 80, '2020-12-23 07:12:14'),
 (40, 'Atlixco', 60, '2020-12-23 07:12:14'),
 (41, 'Augusta-Richmond County', 103, '2020-12-23 07:12:14'),
 (42, 'Aurora', 103, '2020-12-23 07:12:14'),
 (43, 'Avellaneda', 6, '2020-12-23 07:12:14'),
 (44, 'Bag', 15, '2020-12-23 07:12:14'),
 (45, 'Baha Blanca', 6, '2020-12-23 07:12:14'),
 (46, 'Baicheng', 23, '2020-12-23 07:12:14'),
 (47, 'Baiyin', 23, '2020-12-23 07:12:14'),
 (48, 'Baku', 10, '2020-12-23 07:12:14'),
 (49, 'Balaiha', 80, '2020-12-23 07:12:14'),
 (50, 'Balikesir', 97, '2020-12-23 07:12:14'),
 (51, 'Balurghat', 44, '2020-12-23 07:12:14'),
 (52, 'Bamenda', 19, '2020-12-23 07:12:14'),
 (53, 'Bandar Seri Begawan', 16, '2020-12-23 07:12:14'),
 (54, 'Banjul', 37, '2020-12-23 07:12:14'),
 (55, 'Barcelona', 104, '2020-12-23 07:12:14'),
 (56, 'Basel', 91, '2020-12-23 07:12:14'),
 (57, 'Bat Yam', 48, '2020-12-23 07:12:14'),
 (58, 'Batman', 97, '2020-12-23 07:12:14'),
 (59, 'Batna', 2, '2020-12-23 07:12:14'),
 (60, 'Battambang', 18, '2020-12-23 07:12:14'),
 (61, 'Baybay', 75, '2020-12-23 07:12:14'),
 (62, 'Bayugan', 75, '2020-12-23 07:12:14'),
 (63, 'Bchar', 2, '2020-12-23 07:12:14'),
 (64, 'Beira', 63, '2020-12-23 07:12:14'),
 (65, 'Bellevue', 103, '2020-12-23 07:12:14'),
 (66, 'Belm', 15, '2020-12-23 07:12:14'),
 (67, 'Benguela', 4, '2020-12-23 07:12:14'),
 (68, 'Beni-Mellal', 62, '2020-12-23 07:12:14'),
 (69, 'Benin City', 69, '2020-12-23 07:12:14'),
 (70, 'Bergamo', 49, '2020-12-23 07:12:14'),
 (71, 'Berhampore (Baharampur)', 44, '2020-12-23 07:12:14'),
 (72, 'Bern', 91, '2020-12-23 07:12:14'),
 (73, 'Bhavnagar', 44, '2020-12-23 07:12:14'),
 (74, 'Bhilwara', 44, '2020-12-23 07:12:14'),
 (75, 'Bhimavaram', 44, '2020-12-23 07:12:15'),
 (76, 'Bhopal', 44, '2020-12-23 07:12:15'),
 (77, 'Bhusawal', 44, '2020-12-23 07:12:15'),
 (78, 'Bijapur', 44, '2020-12-23 07:12:15'),
 (79, 'Bilbays', 29, '2020-12-23 07:12:15'),
 (80, 'Binzhou', 23, '2020-12-23 07:12:15'),
 (81, 'Birgunj', 66, '2020-12-23 07:12:15'),
 (82, 'Bislig', 75, '2020-12-23 07:12:15'),
 (83, 'Blumenau', 15, '2020-12-23 07:12:15'),
 (84, 'Boa Vista', 15, '2020-12-23 07:12:15'),
 (85, 'Boksburg', 85, '2020-12-23 07:12:15'),
 (86, 'Botosani', 78, '2020-12-23 07:12:15'),
 (87, 'Botshabelo', 85, '2020-12-23 07:12:15'),
 (88, 'Bradford', 102, '2020-12-23 07:12:15'),
 (89, 'Braslia', 15, '2020-12-23 07:12:15'),
 (90, 'Bratislava', 84, '2020-12-23 07:12:15'),
 (91, 'Brescia', 49, '2020-12-23 07:12:15'),
 (92, 'Brest', 34, '2020-12-23 07:12:15'),
 (93, 'Brindisi', 49, '2020-12-23 07:12:15'),
 (94, 'Brockton', 103, '2020-12-23 07:12:15'),
 (95, 'Bucuresti', 78, '2020-12-23 07:12:15'),
 (96, 'Buenaventura', 24, '2020-12-23 07:12:15'),
 (97, 'Bydgoszcz', 76, '2020-12-23 07:12:15'),
 (98, 'Cabuyao', 75, '2020-12-23 07:12:15'),
 (99, 'Callao', 74, '2020-12-23 07:12:15'),
 (100, 'Cam Ranh', 105, '2020-12-23 07:12:15'),
 (101, 'Cape Coral', 103, '2020-12-23 07:12:15'),
 (102, 'Caracas', 104, '2020-12-23 07:12:15'),
 (103, 'Carmen', 60, '2020-12-23 07:12:15'),
 (104, 'Cavite', 75, '2020-12-23 07:12:15'),
 (105, 'Cayenne', 35, '2020-12-23 07:12:15'),
 (106, 'Celaya', 60, '2020-12-23 07:12:15'),
 (107, 'Chandrapur', 44, '2020-12-23 07:12:15'),
 (108, 'Changhwa', 92, '2020-12-23 07:12:15'),
 (109, 'Changzhou', 23, '2020-12-23 07:12:15'),
 (110, 'Chapra', 44, '2020-12-23 07:12:15'),
 (111, 'Charlotte Amalie', 106, '2020-12-23 07:12:15'),
 (112, 'Chatsworth', 85, '2020-12-23 07:12:15'),
 (113, 'Cheju', 86, '2020-12-23 07:12:15'),
 (114, 'Chiayi', 92, '2020-12-23 07:12:15'),
 (115, 'Chisinau', 61, '2020-12-23 07:12:15'),
 (116, 'Chungho', 92, '2020-12-23 07:12:15'),
 (117, 'Cianjur', 45, '2020-12-23 07:12:15'),
 (118, 'Ciomas', 45, '2020-12-23 07:12:15'),
 (119, 'Ciparay', 45, '2020-12-23 07:12:15'),
 (120, 'Citrus Heights', 103, '2020-12-23 07:12:15'),
 (121, 'Citt del Vaticano', 41, '2020-12-23 07:12:15'),
 (122, 'Ciudad del Este', 73, '2020-12-23 07:12:15'),
 (123, 'Clarksville', 103, '2020-12-23 07:12:15'),
 (124, 'Coacalco de Berriozbal', 60, '2020-12-23 07:12:15'),
 (125, 'Coatzacoalcos', 60, '2020-12-23 07:12:15'),
 (126, 'Compton', 103, '2020-12-23 07:12:15'),
 (127, 'Coquimbo', 22, '2020-12-23 07:12:15'),
 (128, 'Crdoba', 6, '2020-12-23 07:12:15'),
 (129, 'Cuauhtmoc', 60, '2020-12-23 07:12:15'),
 (130, 'Cuautla', 60, '2020-12-23 07:12:15'),
 (131, 'Cuernavaca', 60, '2020-12-23 07:12:15'),
 (132, 'Cuman', 104, '2020-12-23 07:12:15'),
 (133, 'Czestochowa', 76, '2020-12-23 07:12:15'),
 (134, 'Dadu', 72, '2020-12-23 07:12:15'),
 (135, 'Dallas', 103, '2020-12-23 07:12:15'),
 (136, 'Datong', 23, '2020-12-23 07:12:15'),
 (137, 'Daugavpils', 54, '2020-12-23 07:12:15'),
 (138, 'Davao', 75, '2020-12-23 07:12:15'),
 (139, 'Daxian', 23, '2020-12-23 07:12:15'),
 (140, 'Dayton', 103, '2020-12-23 07:12:15'),
 (141, 'Deba Habe', 69, '2020-12-23 07:12:15'),
 (142, 'Denizli', 97, '2020-12-23 07:12:15'),
 (143, 'Dhaka', 12, '2020-12-23 07:12:15'),
 (144, 'Dhule (Dhulia)', 44, '2020-12-23 07:12:15'),
 (145, 'Dongying', 23, '2020-12-23 07:12:15'),
 (146, 'Donostia-San Sebastin', 87, '2020-12-23 07:12:15'),
 (147, 'Dos Quebradas', 24, '2020-12-23 07:12:15'),
 (148, 'Duisburg', 38, '2020-12-23 07:12:15'),
 (149, 'Dundee', 102, '2020-12-23 07:12:15'),
 (150, 'Dzerzinsk', 80, '2020-12-23 07:12:15'),
 (151, 'Ede', 67, '2020-12-23 07:12:15'),
 (152, 'Effon-Alaiye', 69, '2020-12-23 07:12:15'),
 (153, 'El Alto', 14, '2020-12-23 07:12:16'),
 (154, 'El Fuerte', 60, '2020-12-23 07:12:16'),
 (155, 'El Monte', 103, '2020-12-23 07:12:16'),
 (156, 'Elista', 80, '2020-12-23 07:12:16'),
 (157, 'Emeishan', 23, '2020-12-23 07:12:16'),
 (158, 'Emmen', 67, '2020-12-23 07:12:16'),
 (159, 'Enshi', 23, '2020-12-23 07:12:16'),
 (160, 'Erlangen', 38, '2020-12-23 07:12:16'),
 (161, 'Escobar', 6, '2020-12-23 07:12:16'),
 (162, 'Esfahan', 46, '2020-12-23 07:12:16'),
 (163, 'Eskisehir', 97, '2020-12-23 07:12:16'),
 (164, 'Etawah', 44, '2020-12-23 07:12:16'),
 (165, 'Ezeiza', 6, '2020-12-23 07:12:16'),
 (166, 'Ezhou', 23, '2020-12-23 07:12:16'),
 (167, 'Faaa', 36, '2020-12-23 07:12:16'),
 (168, 'Fengshan', 92, '2020-12-23 07:12:16'),
 (169, 'Firozabad', 44, '2020-12-23 07:12:16'),
 (170, 'Florencia', 24, '2020-12-23 07:12:16'),
 (171, 'Fontana', 103, '2020-12-23 07:12:16'),
 (172, 'Fukuyama', 50, '2020-12-23 07:12:16'),
 (173, 'Funafuti', 99, '2020-12-23 07:12:16'),
 (174, 'Fuyu', 23, '2020-12-23 07:12:16'),
 (175, 'Fuzhou', 23, '2020-12-23 07:12:16'),
 (176, 'Gandhinagar', 44, '2020-12-23 07:12:16'),
 (177, 'Garden Grove', 103, '2020-12-23 07:12:16'),
 (178, 'Garland', 103, '2020-12-23 07:12:16'),
 (179, 'Gatineau', 20, '2020-12-23 07:12:16'),
 (180, 'Gaziantep', 97, '2020-12-23 07:12:16'),
 (181, 'Gijn', 87, '2020-12-23 07:12:16'),
 (182, 'Gingoog', 75, '2020-12-23 07:12:16'),
 (183, 'Goinia', 15, '2020-12-23 07:12:16'),
 (184, 'Gorontalo', 45, '2020-12-23 07:12:16'),
 (185, 'Grand Prairie', 103, '2020-12-23 07:12:16'),
 (186, 'Graz', 9, '2020-12-23 07:12:16'),
 (187, 'Greensboro', 103, '2020-12-23 07:12:16'),
 (188, 'Guadalajara', 60, '2020-12-23 07:12:16'),
 (189, 'Guaruj', 15, '2020-12-23 07:12:16'),
 (190, 'guas Lindas de Gois', 15, '2020-12-23 07:12:16'),
 (191, 'Gulbarga', 44, '2020-12-23 07:12:16'),
 (192, 'Hagonoy', 75, '2020-12-23 07:12:16'),
 (193, 'Haining', 23, '2020-12-23 07:12:16'),
 (194, 'Haiphong', 105, '2020-12-23 07:12:16'),
 (195, 'Haldia', 44, '2020-12-23 07:12:16'),
 (196, 'Halifax', 20, '2020-12-23 07:12:16'),
 (197, 'Halisahar', 44, '2020-12-23 07:12:16'),
 (198, 'Halle/Saale', 38, '2020-12-23 07:12:16'),
 (199, 'Hami', 23, '2020-12-23 07:12:16'),
 (200, 'Hamilton', 68, '2020-12-23 07:12:16'),
 (201, 'Hanoi', 105, '2020-12-23 07:12:16'),
 (202, 'Hidalgo', 60, '2020-12-23 07:12:16'),
 (203, 'Higashiosaka', 50, '2020-12-23 07:12:16'),
 (204, 'Hino', 50, '2020-12-23 07:12:16'),
 (205, 'Hiroshima', 50, '2020-12-23 07:12:16'),
 (206, 'Hodeida', 107, '2020-12-23 07:12:16'),
 (207, 'Hohhot', 23, '2020-12-23 07:12:16'),
 (208, 'Hoshiarpur', 44, '2020-12-23 07:12:16'),
 (209, 'Hsichuh', 92, '2020-12-23 07:12:16'),
 (210, 'Huaian', 23, '2020-12-23 07:12:16'),
 (211, 'Hubli-Dharwad', 44, '2020-12-23 07:12:16'),
 (212, 'Huejutla de Reyes', 60, '2020-12-23 07:12:16'),
 (213, 'Huixquilucan', 60, '2020-12-23 07:12:16'),
 (214, 'Hunuco', 74, '2020-12-23 07:12:16'),
 (215, 'Ibirit', 15, '2020-12-23 07:12:16'),
 (216, 'Idfu', 29, '2020-12-23 07:12:16'),
 (217, 'Ife', 69, '2020-12-23 07:12:16'),
 (218, 'Ikerre', 69, '2020-12-23 07:12:16'),
 (219, 'Iligan', 75, '2020-12-23 07:12:16'),
 (220, 'Ilorin', 69, '2020-12-23 07:12:16'),
 (221, 'Imus', 75, '2020-12-23 07:12:16'),
 (222, 'Inegl', 97, '2020-12-23 07:12:16'),
 (223, 'Ipoh', 59, '2020-12-23 07:12:16'),
 (224, 'Isesaki', 50, '2020-12-23 07:12:16'),
 (225, 'Ivanovo', 80, '2020-12-23 07:12:16'),
 (226, 'Iwaki', 50, '2020-12-23 07:12:16'),
 (227, 'Iwakuni', 50, '2020-12-23 07:12:16'),
 (228, 'Iwatsuki', 50, '2020-12-23 07:12:16'),
 (229, 'Izumisano', 50, '2020-12-23 07:12:16'),
 (230, 'Jaffna', 88, '2020-12-23 07:12:16'),
 (231, 'Jaipur', 44, '2020-12-23 07:12:16'),
 (232, 'Jakarta', 45, '2020-12-23 07:12:16'),
 (233, 'Jalib al-Shuyukh', 53, '2020-12-23 07:12:16'),
 (234, 'Jamalpur', 12, '2020-12-23 07:12:16'),
 (235, 'Jaroslavl', 80, '2020-12-23 07:12:16'),
 (236, 'Jastrzebie-Zdrj', 76, '2020-12-23 07:12:16'),
 (237, 'Jedda', 82, '2020-12-23 07:12:16'),
 (238, 'Jelets', 80, '2020-12-23 07:12:16'),
 (239, 'Jhansi', 44, '2020-12-23 07:12:16'),
 (240, 'Jinchang', 23, '2020-12-23 07:12:17'),
 (241, 'Jining', 23, '2020-12-23 07:12:17'),
 (242, 'Jinzhou', 23, '2020-12-23 07:12:17'),
 (243, 'Jodhpur', 44, '2020-12-23 07:12:17'),
 (244, 'Johannesburg', 85, '2020-12-23 07:12:17'),
 (245, 'Joliet', 103, '2020-12-23 07:12:17'),
 (246, 'Jos Azueta', 60, '2020-12-23 07:12:17'),
 (247, 'Juazeiro do Norte', 15, '2020-12-23 07:12:17'),
 (248, 'Juiz de Fora', 15, '2020-12-23 07:12:17'),
 (249, 'Junan', 23, '2020-12-23 07:12:17'),
 (250, 'Jurez', 60, '2020-12-23 07:12:17'),
 (251, 'Kabul', 1, '2020-12-23 07:12:17'),
 (252, 'Kaduna', 69, '2020-12-23 07:12:17'),
 (253, 'Kakamigahara', 50, '2020-12-23 07:12:17'),
 (254, 'Kaliningrad', 80, '2020-12-23 07:12:17'),
 (255, 'Kalisz', 76, '2020-12-23 07:12:17'),
 (256, 'Kamakura', 50, '2020-12-23 07:12:17'),
 (257, 'Kamarhati', 44, '2020-12-23 07:12:17'),
 (258, 'Kamjanets-Podilskyi', 100, '2020-12-23 07:12:17'),
 (259, 'Kamyin', 80, '2020-12-23 07:12:17'),
 (260, 'Kanazawa', 50, '2020-12-23 07:12:17'),
 (261, 'Kanchrapara', 44, '2020-12-23 07:12:17'),
 (262, 'Kansas City', 103, '2020-12-23 07:12:17'),
 (263, 'Karnal', 44, '2020-12-23 07:12:17'),
 (264, 'Katihar', 44, '2020-12-23 07:12:17'),
 (265, 'Kermanshah', 46, '2020-12-23 07:12:17'),
 (266, 'Kilis', 97, '2020-12-23 07:12:17'),
 (267, 'Kimberley', 85, '2020-12-23 07:12:17'),
 (268, 'Kimchon', 86, '2020-12-23 07:12:17'),
 (269, 'Kingstown', 81, '2020-12-23 07:12:17'),
 (270, 'Kirovo-Tepetsk', 80, '2020-12-23 07:12:17'),
 (271, 'Kisumu', 52, '2020-12-23 07:12:17'),
 (272, 'Kitwe', 109, '2020-12-23 07:12:17'),
 (273, 'Klerksdorp', 85, '2020-12-23 07:12:17'),
 (274, 'Kolpino', 80, '2020-12-23 07:12:17'),
 (275, 'Konotop', 100, '2020-12-23 07:12:17'),
 (276, 'Koriyama', 50, '2020-12-23 07:12:17'),
 (277, 'Korla', 23, '2020-12-23 07:12:17'),
 (278, 'Korolev', 80, '2020-12-23 07:12:17'),
 (279, 'Kowloon and New Kowloon', 42, '2020-12-23 07:12:17'),
 (280, 'Kragujevac', 108, '2020-12-23 07:12:17'),
 (281, 'Ktahya', 97, '2020-12-23 07:12:17'),
 (282, 'Kuching', 59, '2020-12-23 07:12:17'),
 (283, 'Kumbakonam', 44, '2020-12-23 07:12:17'),
 (284, 'Kurashiki', 50, '2020-12-23 07:12:17'),
 (285, 'Kurgan', 80, '2020-12-23 07:12:17'),
 (286, 'Kursk', 80, '2020-12-23 07:12:17'),
 (287, 'Kuwana', 50, '2020-12-23 07:12:17'),
 (288, 'La Paz', 60, '2020-12-23 07:12:17'),
 (289, 'La Plata', 6, '2020-12-23 07:12:17'),
 (290, 'La Romana', 27, '2020-12-23 07:12:17'),
 (291, 'Laiwu', 23, '2020-12-23 07:12:17'),
 (292, 'Lancaster', 103, '2020-12-23 07:12:17'),
 (293, 'Laohekou', 23, '2020-12-23 07:12:17'),
 (294, 'Lapu-Lapu', 75, '2020-12-23 07:12:17'),
 (295, 'Laredo', 103, '2020-12-23 07:12:17'),
 (296, 'Lausanne', 91, '2020-12-23 07:12:17'),
 (297, 'Le Mans', 34, '2020-12-23 07:12:17'),
 (298, 'Lengshuijiang', 23, '2020-12-23 07:12:17'),
 (299, 'Leshan', 23, '2020-12-23 07:12:17'),
 (300, 'Lethbridge', 20, '2020-12-23 07:12:17'),
 (301, 'Lhokseumawe', 45, '2020-12-23 07:12:17'),
 (302, 'Liaocheng', 23, '2020-12-23 07:12:17'),
 (303, 'Liepaja', 54, '2020-12-23 07:12:17'),
 (304, 'Lilongwe', 58, '2020-12-23 07:12:17'),
 (305, 'Lima', 74, '2020-12-23 07:12:17'),
 (306, 'Lincoln', 103, '2020-12-23 07:12:17'),
 (307, 'Linz', 9, '2020-12-23 07:12:17'),
 (308, 'Lipetsk', 80, '2020-12-23 07:12:17'),
 (309, 'Livorno', 49, '2020-12-23 07:12:17'),
 (310, 'Ljubertsy', 80, '2020-12-23 07:12:17'),
 (311, 'Loja', 28, '2020-12-23 07:12:17'),
 (312, 'London', 102, '2020-12-23 07:12:17'),
 (313, 'London', 20, '2020-12-23 07:12:17'),
 (314, 'Lublin', 76, '2020-12-23 07:12:17'),
 (315, 'Lubumbashi', 25, '2020-12-23 07:12:17'),
 (316, 'Lungtan', 92, '2020-12-23 07:12:17'),
 (317, 'Luzinia', 15, '2020-12-23 07:12:18'),
 (318, 'Madiun', 45, '2020-12-23 07:12:18'),
 (319, 'Mahajanga', 57, '2020-12-23 07:12:18'),
 (320, 'Maikop', 80, '2020-12-23 07:12:18'),
 (321, 'Malm', 90, '2020-12-23 07:12:18'),
 (322, 'Manchester', 103, '2020-12-23 07:12:18'),
 (323, 'Mandaluyong', 75, '2020-12-23 07:12:18'),
 (324, 'Mandi Bahauddin', 72, '2020-12-23 07:12:18'),
 (325, 'Mannheim', 38, '2020-12-23 07:12:18'),
 (326, 'Maracabo', 104, '2020-12-23 07:12:18'),
 (327, 'Mardan', 72, '2020-12-23 07:12:18'),
 (328, 'Maring', 15, '2020-12-23 07:12:18'),
 (329, 'Masqat', 71, '2020-12-23 07:12:18'),
 (330, 'Matamoros', 60, '2020-12-23 07:12:18'),
 (331, 'Matsue', 50, '2020-12-23 07:12:18'),
 (332, 'Meixian', 23, '2020-12-23 07:12:18'),
 (333, 'Memphis', 103, '2020-12-23 07:12:18'),
 (334, 'Merlo', 6, '2020-12-23 07:12:18'),
 (335, 'Mexicali', 60, '2020-12-23 07:12:18'),
 (336, 'Miraj', 44, '2020-12-23 07:12:18'),
 (337, 'Mit Ghamr', 29, '2020-12-23 07:12:18'),
 (338, 'Miyakonojo', 50, '2020-12-23 07:12:18'),
 (339, 'Mogiljov', 13, '2020-12-23 07:12:18'),
 (340, 'Molodetno', 13, '2020-12-23 07:12:18'),
 (341, 'Monclova', 60, '2020-12-23 07:12:18'),
 (342, 'Monywa', 64, '2020-12-23 07:12:18'),
 (343, 'Moscow', 80, '2020-12-23 07:12:18'),
 (344, 'Mosul', 47, '2020-12-23 07:12:18'),
 (345, 'Mukateve', 100, '2020-12-23 07:12:18'),
 (346, 'Munger (Monghyr)', 44, '2020-12-23 07:12:18'),
 (347, 'Mwanza', 93, '2020-12-23 07:12:18'),
 (348, 'Mwene-Ditu', 25, '2020-12-23 07:12:18'),
 (349, 'Myingyan', 64, '2020-12-23 07:12:18'),
 (350, 'Mysore', 44, '2020-12-23 07:12:18'),
 (351, 'Naala-Porto', 63, '2020-12-23 07:12:18'),
 (352, 'Nabereznyje Telny', 80, '2020-12-23 07:12:18'),
 (353, 'Nador', 62, '2020-12-23 07:12:18'),
 (354, 'Nagaon', 44, '2020-12-23 07:12:18'),
 (355, 'Nagareyama', 50, '2020-12-23 07:12:18'),
 (356, 'Najafabad', 46, '2020-12-23 07:12:18'),
 (357, 'Naju', 86, '2020-12-23 07:12:18'),
 (358, 'Nakhon Sawan', 94, '2020-12-23 07:12:18'),
 (359, 'Nam Dinh', 105, '2020-12-23 07:12:18'),
 (360, 'Namibe', 4, '2020-12-23 07:12:18'),
 (361, 'Nantou', 92, '2020-12-23 07:12:18'),
 (362, 'Nanyang', 23, '2020-12-23 07:12:18'),
 (363, 'NDjamna', 21, '2020-12-23 07:12:18'),
 (364, 'Newcastle', 85, '2020-12-23 07:12:18'),
 (365, 'Nezahualcyotl', 60, '2020-12-23 07:12:18'),
 (366, 'Nha Trang', 105, '2020-12-23 07:12:18'),
 (367, 'Niznekamsk', 80, '2020-12-23 07:12:18'),
 (368, 'Novi Sad', 108, '2020-12-23 07:12:18'),
 (369, 'Novoterkassk', 80, '2020-12-23 07:12:18'),
 (370, 'Nukualofa', 95, '2020-12-23 07:12:18'),
 (371, 'Nuuk', 40, '2020-12-23 07:12:18'),
 (372, 'Nyeri', 52, '2020-12-23 07:12:18'),
 (373, 'Ocumare del Tuy', 104, '2020-12-23 07:12:18'),
 (374, 'Ogbomosho', 69, '2020-12-23 07:12:18'),
 (375, 'Okara', 72, '2020-12-23 07:12:18'),
 (376, 'Okayama', 50, '2020-12-23 07:12:18'),
 (377, 'Okinawa', 50, '2020-12-23 07:12:18'),
 (378, 'Olomouc', 26, '2020-12-23 07:12:18'),
 (379, 'Omdurman', 89, '2020-12-23 07:12:18'),
 (380, 'Omiya', 50, '2020-12-23 07:12:18'),
 (381, 'Ondo', 69, '2020-12-23 07:12:18'),
 (382, 'Onomichi', 50, '2020-12-23 07:12:18'),
 (383, 'Oshawa', 20, '2020-12-23 07:12:18'),
 (384, 'Osmaniye', 97, '2020-12-23 07:12:18'),
 (385, 'ostka', 100, '2020-12-23 07:12:18'),
 (386, 'Otsu', 50, '2020-12-23 07:12:18'),
 (387, 'Oulu', 33, '2020-12-23 07:12:18'),
 (388, 'Ourense (Orense)', 87, '2020-12-23 07:12:18'),
 (389, 'Owo', 69, '2020-12-23 07:12:18'),
 (390, 'Oyo', 69, '2020-12-23 07:12:18'),
 (391, 'Ozamis', 75, '2020-12-23 07:12:18'),
 (392, 'Paarl', 85, '2020-12-23 07:12:18'),
 (393, 'Pachuca de Soto', 60, '2020-12-23 07:12:18'),
 (394, 'Pak Kret', 94, '2020-12-23 07:12:18'),
 (395, 'Palghat (Palakkad)', 44, '2020-12-23 07:12:18'),
 (396, 'Pangkal Pinang', 45, '2020-12-23 07:12:19'),
 (397, 'Papeete', 36, '2020-12-23 07:12:19'),
 (398, 'Parbhani', 44, '2020-12-23 07:12:19'),
 (399, 'Pathankot', 44, '2020-12-23 07:12:19'),
 (400, 'Patiala', 44, '2020-12-23 07:12:19'),
 (401, 'Patras', 39, '2020-12-23 07:12:19'),
 (402, 'Pavlodar', 51, '2020-12-23 07:12:19'),
 (403, 'Pemalang', 45, '2020-12-23 07:12:19'),
 (404, 'Peoria', 103, '2020-12-23 07:12:19'),
 (405, 'Pereira', 24, '2020-12-23 07:12:19'),
 (406, 'Phnom Penh', 18, '2020-12-23 07:12:19'),
 (407, 'Pingxiang', 23, '2020-12-23 07:12:19'),
 (408, 'Pjatigorsk', 80, '2020-12-23 07:12:19'),
 (409, 'Plock', 76, '2020-12-23 07:12:19'),
 (410, 'Po', 15, '2020-12-23 07:12:19'),
 (411, 'Ponce', 77, '2020-12-23 07:12:19'),
 (412, 'Pontianak', 45, '2020-12-23 07:12:19'),
 (413, 'Poos de Caldas', 15, '2020-12-23 07:12:19'),
 (414, 'Portoviejo', 28, '2020-12-23 07:12:19'),
 (415, 'Probolinggo', 45, '2020-12-23 07:12:19'),
 (416, 'Pudukkottai', 44, '2020-12-23 07:12:19'),
 (417, 'Pune', 44, '2020-12-23 07:12:19'),
 (418, 'Purnea (Purnia)', 44, '2020-12-23 07:12:19'),
 (419, 'Purwakarta', 45, '2020-12-23 07:12:19'),
 (420, 'Pyongyang', 70, '2020-12-23 07:12:19'),
 (421, 'Qalyub', 29, '2020-12-23 07:12:19'),
 (422, 'Qinhuangdao', 23, '2020-12-23 07:12:19'),
 (423, 'Qomsheh', 46, '2020-12-23 07:12:19'),
 (424, 'Quilmes', 6, '2020-12-23 07:12:19'),
 (425, 'Rae Bareli', 44, '2020-12-23 07:12:19'),

In [91]:
#SE REALIZA CODIGO PARA OBTENER UNA TABLA QUE DESCRIBA A TODAS LAS TABLAS EXISTENTES DENTRO DE LA BD SAKILA
def obtener_informacion_tablas():
    # Obtener la lista de tablas en la base de datos
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tablas = cursor.fetchall()

    # Imprimir encabezados del cuadro
    print("{:<20} {:<20} {:<20}".format("Nombre de Tabla", "Cantidad de Registros", "Cantidad de Columnas"))
    print("="*60)

    for tabla in tablas:
        nombre_tabla = tabla[0]

        # Obtener la cantidad de registros
        cursor.execute(f"SELECT COUNT(*) FROM {nombre_tabla};")
        cantidad_registros = cursor.fetchone()[0]

        # Obtener la cantidad de columnas
        cursor.execute(f"PRAGMA table_info({nombre_tabla});")
        cantidad_columnas = len(cursor.fetchall())

        # Imprimir la información de la tabla
        print("{:<20} {:<20} {:<20}".format(nombre_tabla, cantidad_registros, cantidad_columnas))


# Llamar a la función para obtener la información y mostrarla
obtener_informacion_tablas()

Nombre de Tabla      Cantidad de Registros Cantidad de Columnas
============================================================
actor                200                  4
country              109                  3
city                 600                  4
address              603                  8
language             6                    3
category             16                   3
customer             599                  9
film                 1000                 13
film_actor           5462                 3
film_category        1000                 3
film_text            0                    3
inventory            4581                 4
staff                2                    11
store                2                    4
payment              16049                7
rental               16044                7
sqlite_sequence      0                    2
archivos             0                    11

## 3.2. Se realiza codigo creacion de tablas

In [90]:
#se solicita la creacion de una tabla llamada archivos.

query="""CREATE TABLE IF NOT EXISTS archivos (  
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NOMBRE TEXT COLLATE NOCASE,
    TIPO TEXT COLLATE NOCASE,
    TAMANO INTEGER UNSIGNED,
    FECHAHORA TIMESTAMP,
    RUTA TEXT COLLATE NOCASE,
    UBICA TEXT COLLATE NOCASE,
    COMENTA TEXT COLLATE NOCASE,
    CATEGORIA TEXT COLLATE NOCASE,
    PROYECTO TEXT COLLATE NOCASE,
    FAV INTEGER
);"""
salida=cursor.execute(query)
print(salida.fetchall())

[]

In [88]:
#se solicita el borrado de la tabla llamada archivos
query="drop table archivos"
salida=cursor.execute(query)
print(salida.fetchall())

[]

## 4. Realizamos Query con dataframe de Pandas

In [8]:
query='SELECT * FROM film LIMIT 100'
df=pd.read_sql_query(query,sqliteConnection, index_col="film_id")
df

,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
film_id,,,,,,,,,,,,
1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2020-12-23 07:12:31
2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2020-12-23 07:12:31
3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2020-12-23 07:12:31
4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2020-12-23 07:12:31
5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2020-12-23 07:12:31
...,...,...,...,...,...,...,...,...,...,...,...,...
96,BREAKING HOME,A Beautiful Display of a Secret Agent And a Mo...,2006,1,None,4,2.99,169,21.99,PG-13,"Trailers,Commentaries",2020-12-23 07:12:33
97,BRIDE INTRIGUE,A Epic Tale of a Robot And a Monkey who must V...,2006,1,None,7,0.99,56,24.99,G,"Trailers,Commentaries,Behind the Scenes",2020-12-23 07:12:33
98,BRIGHT ENCOUNTERS,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,None,4,4.99,73,12.99,PG-13,Trailers,2020-12-23 07:12:33
99,BRINGING HYSTERICAL,A Fateful Saga of a A Shark And a Technical Wr...,2006,1,None,7,2.99,136,14.99,PG,Trailers,2020-12-23 07:12:33
100,BROOKLYN DESERT,A Beautiful Drama of a Dentist And a Composer ...,2006,1,None,7,4.99,161,21.99,R,Commentaries,2020-12-23 07:12:33

In [9]:
query='SELECT rating, AVG(length) FROM film GROUP BY rating HAVING AVG (length) BETWEEN 112 AND 120'
df1=pd.read_sql_query(query,sqliteConnection)
print(df1)

  rating  AVG(length)
0  NC-17   113.228571
1     PG   112.005155
2      R   118.661538

## 5. Cerrar conecciones

In [10]:
#cerrar cursor
cursor.close()
#cerrar BD
sqliteConnection.close()